werkzeug
connexion==2.2.0
cryptography==2.6.1
Flask==1.0.2
Flask-Cors==3.0.8
google-cloud==0.34.0
google-auth==1.7.1
google-cloud-storage==1.16.1
google-cloud-datastore==1.8.0
google-cloud-kms==1.2.1
google-api-python-client==1.7.11
oauth2client==4.1.3
google-python-cloud-debugger
pyopenssl==19.0.0
gunicorn==19.9.0
jwkaas==0.3
MarkupSafe==1.1.1
PyYAML==5.1.1
swagger-ui-bundle==0.0.2
setuptools >= 21.0.0
pandas==0.25.0
requests==2.22.0
python-dateutil==2.8.0
Flask-AuditLog==1.0
Flask-No-Cache==1.0
Flask-SSLify==0.1.5